{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
	<h1>All Posts</h1>
	{% ifequal deleted "true" %}
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-danger" >
	  						 Post with name <strong>{{param}}</strong> was deleted!
						</div>
					</div>
				</div>
	{% endifequal %}

	{% ifequal added "true" %}
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-success" >
	  						 Post with name <strong>{{param}}</strong> was created!
						</div>
					</div>
				</div>
	{% endifequal %}

	<div class="table-responsive">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Text</th>
					<th>Creation Date</th>
					<th>User</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tbody>
				{% for item in posts %}
					<tr>
						<td> <a href="/post/{{item.id}}">{{item.id}}</a> </td>
						<td> {{item.name}} </td>
						<td> {{item.text}} </td>
						<td> {{item.creation-date}} </td>
						<td> {{item.user-id}} </td>
						<td> {{item.rating}} </td>
					</tr>
				{% endfor %}
			</tbody>
 		</table>
	</div>

	<div>
		<a href="/post/add" class="btn btn-primary">Add new profile</a>
	</div>
</div>
{% endblock %}