<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>

    <!-- styles -->
    {% style "/assets/bootstrap/css/bootstrap.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}

    {% style "/css/screen.css" %}
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
             <a class="navbar-brand" href="/">Blog</a>
        </div>
        
        {% if user.authentificated %}
          <div>
            <ul class="nav navbar-nav">
              <li><a href="/users">Users</a></li>
              <li><a href="/users/{{user.id}}">My Profile</a></li>
            </ul>
            <form action="/signout" id="logoutForm" method="post" class="navbar-right">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a></li>
              </ul>
            </form>
          </div>
        {% else %}
          <ul class="nav navbar-nav">
            <li><a href="/registration">Register</a></li>
            <li><a href="/signin">Sign in</a></li>
          </ul>
        {% endif %}
      </div>
    </nav>     

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- scripts -->
    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/tether/dist/js/tether.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}
    {% block page-scripts %}
    {% endblock %}

    <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <footer align="center">
            <p>&copy; 2016 - Blog</p>
        </footer>
    </div>
</nav>
  </body>
</html>

    