{% extends "base.html" %}
{% block content %}
<form action="/registration" method="post" class="form-horizontal">
	<h4>Create a new account.</h4>
    <hr/>
    {% if messages.success %}
		<div class="form-group">
	        <div class="col-sm-offset-2 col-sm-8 col-xs-10">
	            <div class="bg-success message img-rounded"><h4>{{messages.success}}</h4></div>
	        </div>
    	</div>
	{% endif %}
    <div class="form-group">
		<div class="col-sm-2 col-xs-10 control-label">
			<label for="login">Login*: </label>
		</div>
		<div class="col-sm-8 col-xs-10">
			<input name="login" id="login" type="text" class="{% if messages.login %}input-validation-error{% endif %} form-control" placeholder="Login" >
			{% if messages.login %}
				<span class="field-validation-error" data-valmsg-for="login" data-valmsg-replace="true">{{messages.login}}</span>
			{% endif %}
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 col-xs-10 control-label">
			<label for="password">Password*: </label>
		</div>
		<div class="col-sm-8 col-xs-10">
			<input name="password" id="password" type="password" placeholder="Password" class="{% if messages.login %}input-validation-error{% endif %} form-control">
			{% if messages.password %}
				<span class="field-validation-error" data-valmsg-for="password" data-valmsg-replace="true">{{messages.password}}</span>
			{% endif %}
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 col-xs-10 control-label">
			<label for="password2">Confirm Password*: </label>
		</div>
		<div class="col-sm-8 col-xs-10">
			<input name="password2" id="password2" type="password" placeholder="Confirm Password"  class="{% if messages.login %}input-validation-error{% endif %} form-control">
			{% if messages.password2 %}
				<span class="field-validation-error" data-valmsg-for="password2" data-valmsg-replace="true">{{messages.password2}}</span>
			{% endif %}
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 col-xs-10 control-label">
			<label for="name">Name: </label>
		</div>
		<div class="col-sm-8 col-xs-10">
			<input name="name" id="name" type="text" class="form-control" placeholder="Name" >
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 col-xs-10 control-label">
			<label for="surname">Surname: </label>
		</div>
		<div class="col-sm-8 col-xs-10">
			<input name="surname" id="surname" type="text" class="form-control" placeholder="Surname" >
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 col-xs-10 control-label">
			<label for="birth-date">Birth Date: </label>
		</div>
		<div class="col-sm-8 col-xs-10">
			<input name="birth-date" id="birth-date" type="date" class="form-control">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 col-xs-10 control-label">
			<label for="sex">Sex: </label>
		</div>
		<div class="col-sm-8 col-xs-10">
			<label class="radio-inline">
  				<input type="radio" name="sex" id="male" value="true" checked> Male
			</label>
			<label class="radio-inline">
 				<input type="radio" name="sex" id="female" value="false"> Female
			</label>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 col-xs-10 control-label">
			<label for="country">Country: </label>
		</div>
		<div class="col-sm-8 col-xs-10">
			<input name="country" id="country" type="text" class="form-control" placeholder="Country" >
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 col-xs-10 control-label">
			<label for="city">City: </label>
		</div>
		<div class="col-sm-8 col-xs-10">
			<input name="city" id="city" type="text" class="form-control" placeholder="City" >
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 col-xs-10 control-label">
			<label for="address">Address: </label>
		</div>
		<div class="col-sm-8 col-xs-10">
			<input name="address" id="address" type="text" class="form-control" placeholder="Address">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 col-xs-10 control-label">
			<label for="email">Email: </label>
		</div>
		<div class="col-sm-8 col-xs-10">
			<input name="email" id="email" type="email"  placeholder="Email" class="form-control">
		</div>
	</div>

	<div class="form-group">
        <div class="col-sm-offset-2 col-sm-8 col-xs-10">
            <input type="submit" class="btn btn-default" value="Register"/>
        </div>
    </div>
</form>
{% endblock %}