{% extends "base.html" %}
{% block content %}
  	<h2><p class="text-center">{{info.post.name}}</p></h2>
  	<h4><p class="text-right "><small>{{info.user.name}} {{info.user.surname}} ({{info.post.creation-date}})</small></p></h4>
	<form action="/post/edit/{{info.post.id}}" method="get">
	    <input type="submit" class="btn btn-default" value="Edit" />
	</form>
	<hr/>

	<div class="row">
  		<div class="col-sm-12">
  			{{info.post.text|markdown}}
  		</div>
	</div>

	<hr/>

	<div class="row">
	 	<div class="col-sm-10 col-xs-12">
	  		<h4>Comments</h4>
	  	</div>
	  	<div class="col-sm-2 col-xs-12">
			<form action="/comments/{{info.post.id}}" method="get">
			    <input type="submit" class="btn btn-default" value="Add Comment" />
			</form>
		</div>
	</div>

	{% for comment in info.comments %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2 col-xs-12">
            <h4><p class="text-right "><small>{{comment.user.name}} {{comment.user.surname}} ({{comment.creation-date}})</small></p></h4>
            <div class="bigword bg-info img-rounded"><p>{{comment.text}}</p></div>
        </div>
		<div class="col-sm-2 col-xs-12">
			<form action="/comments/{{info.post.id}}/{{comment.id}}" method="get">
			    <input type="submit" class="btn btn-default" value="Edit Comment" />
			</form>
		</div>
		<div class="col-sm-2 col-xs-12">
			<form action="/comments/delete/{{info.post.id}}/{{comment.id}}" method="POST">
			    <input type="submit" class="btn btn-default" value="Delete Comment" />
			</form>
		</div>
    </div>
	{% endfor %}

{% endblock %}