{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
	<h2>
		{{info.profile.name}} {{info.profile.surname}} {% ifequal user.id info.profile.id %} (You) {% endifequal %} 
	</h2>
	<h3>
		Login: {{info.profile.login}} 
	</h3>
	<h3>
		Email: {{info.profile.email}} 
	</h3>
</div>

{% for item in info.posts %}

    <div class="row">
    	<div class="col-sm-10 col-xs-12">
    		<div class="panel panel-primary">
    			<div class="panel-heading">
    				<h2>
	                   	<a style="color: white" href="/posts/{{item.id}}">{{item.name}}</a> 
	                </h2>
	             </div>
	             <div class="panel-body">
	             <div class="row">
	  				<div class="col-sm-11">
	  					{{item.text|markdown}}
	  				</div>
				</div>
				
	                <p class="text-right">{{item.creation-date}}</p>
				<div class="row">
	                <div class="col-sm-10 col-xs-12">
	                    <h4>
	                   		Comments ({% if item.count  %}{{item.count}}{%else%}0{%endif%})
	                    </h4>
	                </div>
	            </div>
	             </div>
				
    		</div>
    		
    	</div>
   	</div>  
{% endfor %}
{% endblock %}