{% extends "base.html" %}
{% block content %}
<h2>
    <p class="">All Users</p>
</h2>
{% for item in users %}
        <div class="row">
        <div class="col-sm-10 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <a href="/users/{{item.id}}">{{item.login}}</a> {% ifequal user.id item.id %} (You) {% endifequal %}    
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-10 col-xs-12">
                            <h5>
                                Name: {{item.name}} {{item.surname}}
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-xs-12">
                            <h5>
                                Email: {{item.email}}
                            </h5>
                        </div>
                    </div>
                </div>
               
            </div>
            
        </div>
       </div>  

{% endfor %}
{% endblock %}

    
